/* CSS styling untuk form */
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../src/1.png);
  background-size: cover;
}
#myAreaChart {
  width: 500px !important;
  height: 300px !important;
}
.form-container {
  max-width: 400px;
  margin: 5em auto;
  padding: 30px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 4px;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}

.link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link-container .link-page {
  text-decoration: none;
  font-weight: bold;
  color: #444;
  transition: transform 0.3s;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}

.link-container .link-page::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444;
}

.link-container .link-page:hover {
  transform: scale(1.1);
}
.link-container .link-page:active {
  transform: scale(0.9);
}

.form-container h2 {
  text-align: center;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.form-container p.error {
  margin-top: 5px;
  color: red;
  margin-bottom: 10px;
}

@media screen and (max-width: 630px) {
  .form-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .form-container {
    max-width: 250px;
  }
}

#chat-container {
  height: 300px; /* Atur tinggi div sesuai kebutuhan */
  overflow-y: scroll; /* Tambahkan efek gulir secara vertikal */
}
table.dataTable {
  border-collapse: collapse;
  width: 100%;
}

table.dataTable thead th,
table.dataTable tfoot th,
table.dataTable tbody td {
  border: 1px solid #ddd;
  padding: 8px;
}

table.dataTable thead th {
  background-color: #f2f2f2;
}

table.dataTable tfoot th {
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
}

table.dataTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.dataTable tbody tr:hover {
  background-color: #ddd;
}
